body{
    background-color: #F2EBDB;
    width: 100%;
    float:left;
 min-height:100%; 
}
html, body {
    overflow: auto;

     min-height:100%; 
}
.container-div{
    position: relative;
    height: 100%;
    top: -20px;
}
.main-home{
    display: block;
    z-index: 3;
}

.margin{
    margin-top: 15px;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-message {
    margin-top: 25px;
    display: flex;
    align-items: center;
    
}

.error{
    padding: 42px;
}

/* ======================= HEADER ============================== */
.container-header{
    /* display: inline-block; */
    /* position: absolute;*/
/* 
    position: fixed;
    top: 0;
    left: 0;  */
    display: block;
    z-index: 5;
    position: relative;
    width: 100%;
}



/* 
 */
@media (min-width: 350px){
    .container-div-links-header{
        display: flex;
        flex-direction: row;
    }
    .img-header{
        width: 100%;
        height: 120px;
    }
    .div-links-header{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        position: absolute;
        top: 20px;
        font-size: 25px;
        color: black;
    }
    .div-link-header-shopping-cart{
        display: none;
    }
    .div-link-shopping-cart{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        position: absolute;
        top: 65px;
        font-size: 25px;
        color: black;
    }
}
@media (min-width: 1090px){
    .container-div-links-header{
        flex-direction: row;
    }
    .div-link-header-shopping-cart{
        display: block;
    }
    .div-link-shopping-cart{
        display: none;
    }
    .img-header{
        height: 80px;
    }
    .div-links-header{
        font-size: 30px;
    }
    .div-links-header a{
        -webkit-transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
    }
    
    .div-links-header a:hover{
        cursor: pointer;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
/* ======================= HOME PAGE ============================== */

.img-main-background{
    width: 100%;
    height: 100%;
}



/* ----------------- MIDDLE SECTION -------------- */

.container-div-middle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.div-middle h1{
    flex-wrap: wrap;
    font-size: 25px;
}


.img-sword{
    width: 250px;
}

.img-shield:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.img-middle:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 350px){
    .container-div-middle{
        gap:0
    }
    .div-middle h1{
        font-size: 20px;
    }
    .div-middle span {
        font-weight: bolder;
        font-size: 15px;
        text-align: center;
    }
    .img-shield{
        width: 95px;
        -webkit-transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
    }
    .img-middle{
        width:72px;
        -webkit-transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
    }
}

@media (min-width: 1090px){
    .container-div-middle{
        gap: 30px;
    }
    .div-middle span {
        font-weight: bolder;
        font-size: 30px;
    }
    .img-shield{
        width: 150px;
    }
    .img-middle{
        width: 100px;
    }
}

/* -------------------- ABOUT ------------------- */
@media (min-width:350px){
    .container-div-about{
        bottom: 0;
        left: 0;
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .div-about{
        margin: 18px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 145px;
        right: 20px;
        font-size: 20px;
        color: white;
        text-align: center;
        gap: 50px;
        
    }
    .h1-about{
        font-size: 30px;
        font-weight: bolder;
    }
    .div-about p{
        line-height: 35px;
    }
    .img-about-background{
        width: 100%;
        height: 700px;
    }
}
@media (min-width:1090px){
    .container-div-about{
        bottom: 0;
        left: 0;
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .div-about{
        margin-left: 50px;
        margin-right: 50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 145px;
        right: 20px;
        font-size: 28px;
        color: white;
        text-align: center;
        gap: 50px;
    }
    .h1-about{
        font-size: 40px;
        font-weight: bolder;
    }
    .div-about p{
        line-height: 55px;
    }
    .img-about-background{
        width: 100%;
        height: 700px;
    }
}

/* ===================== Menu PAGE ======================== */

.container-section-menu{
    margin-top: 35px;
}

.container-section-menu h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
}

.ul-menu-list li{
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}

.ul-menu-list li:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card{
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .3s ease;
}
.card:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


@media (min-width: 350px){
    .img-sword{
        width: 150px;
    }
    .ul-menu-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .div-cards-menu-plates{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 50px;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
    }
    .card-body h5{
        font-weight: bold;
        font-size: 20px;
    }
    .card-img-top{
        width: 100%;
        height: 230px;
    } 
}

@media (min-width: 1090px){
    .ul-menu-list{
        flex-direction: row;
        width: 100%;
        font-size: 30px;
        gap: 50px;
    }
    .div-cards-menu-plates{
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

/* 





/* ------------------ Plates ---------------- */
.div-menus{
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ========================= Reservation ===================== */
.main-reservation{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container-div-reservation{
  width: 100%;

  display: flex;
  justify-content: center;
}

.img-reservation{
    height: 650px;
}

#parchment {
    position: absolute;
    display: flex;
      width: 30%;
    min-height: calc((1vw + 1vh) * 26);
    /* center page with absolute position */
    top: 0%; left: 50%; transform: translate(-50%, 0);
    /* margin: 4em 0; */
      padding: 4em;
      box-shadow: 0px 0px 5px black, 0 0 60px #8a4d0f inset;
      background: #fffef0;
    filter: url(#wavy2);
  }
.container-div-parchment{
    position: relative;
}
.container-div-form-reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
    gap: 25px;
}
.container-div-form-reservation h1{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.form-reservation {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5px;
}
.form-reservation button{
    width: 120px;
}
/* .form-reservation div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
} */
/* ======================== Footer ===================== */
footer h1{
    text-align: center;
    padding: 0 0px 20px;
    font-weight: bolder;
}
footer{
    /* position: fixed; */
    margin-top: 50px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


/* ======================= Media Query ===================== */

/* @media (max-width: 780px){
    .main-reservation{
        margin-top: 5%;
    }
    .div-links-header{
        font-size: 20px;
        top:25px;
    }
    #parchment {
        width: 80%;
        min-height: calc((1vw + 1vh) * 38);
    }
    .form-reservation{
        width: 60%;
        margin: 0 auto;
    }
} */

/* @media (max-width: 450px){
    .div-links-header{
        font-size: 15px;
        top:25px;
    }
    #parchment {
        width: 80%;
        min-height: calc((1vw + 1vh) * 52);
    }
} */


/* ======================== Login ==================== */
.main-dashboard{
    background-color: black;
    position: relative;
}
.background-dashboard{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    /* background-image: url("/img/background_login.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; */
}
.form-dashboard {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    margin-top: 15%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5px;
}
.form-dashboard button{
    width: 120px;
}
.label-dashboard{
    color: white;
}

.form-dashboard h1{
    color: white;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}
.teste{
    background-color: #F9F9F9;
    color: #19212C;
}
/* ======================== Dashboard ==================== */
.container-div-dash{
    min-height: 100%;
}
.header-dashboard{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    font-size: 22px; */
}

.main-dash{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background-color: #19212C;
    min-height: 100vh;
}

.aside-dash{
    padding-top: 50px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 65px;
}

.aside-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}
.aside-items a{
    width: 100%;
    padding: 20px;
}
.aside-items a:hover{
    color:#F9F9F9;
    background-color: #19212C;
}
.aside-item-username{
    gap: 12px;
}

.manage-dash{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.h1-dash{
    color: #F9F9F9;
    font-size: 30px;
    font-weight: bold;
}
.section-dash{
    width: 100%;
    padding: 50px;
}

.form-dash{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-items-dash{
    width: 100%;
}

.div-cards-orders{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
}

@media (min-width: 1090px){
    .div-cards-orders{
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}
.card-img-dash{
    height: 172px;
}

.form-dash-edit-order {
    display: flex;
    gap: 50px;
}

.btn-edit{
    width: 200px;
}


/* ========== Shopping cart ============ */
.cart-empty{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}